@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/*
SemiBold 600
Bold 700
ExtraBold 800
*/

body {
    font-family: "Manrope", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

