@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/*
SemiBold 600
Bold 700
ExtraBold 800
*/

/*------------
    Общие стили
------------*/

body {
    margin: 0;

    font-family: "Manrope", sans-serif;
    color: #959595;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.5px;

    background-color: #202020;
}

img {
    max-width: 100%;
}

a {
    color: #DEDEDE;
    text-decoration: none;
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.6;
}

.logo {
    font-weight: 800;

    display: flex;
    align-items: center;
    gap: 10px;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 16px 48px;

    font-size: 18px;
    color: #ffffff;

    background-color: #9d9d9d;
    border-radius: 4px;
}

.btn:hover {
    opacity: 0.8;
}

.btn::before {
    content: "";
    width: 21px;
    height: 21px;

    background-image: url("images/mail.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*------------
    HEADER
------------*/

.header {
    padding: 20px 0;

    background: rgba(50, 50, 50, 0.7);
    backdrop-filter: blur(10px);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    gap: 60px;
}

.header__container {
    font-weight: 700;
    font-size: 18px;
}

/*------------
    MAIN
------------*/

.main {

}

/*------------
    WELCOME
------------*/
.welcome {
    margin-top: 160px;
}

.welcome .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome__title {
    width: 435px;
    margin-bottom: 24px;
    margin-top: 0;

    font-weight: 700;
    font-size: 54px;
    line-height: 1.19;
    color: #DEDEDE;
}

.welcome__text {
    width: 395px;
    margin-bottom: 88px;
}

.welcome__img {
    margin-right: 80px;

    width: 400px;
    height: 400px;
    border-radius: 50%;

    object-fit: cover;
    object-position: center;
}

/*------------
    WORKS
------------*/

.works {
    margin-top: 140px;
}

.works__btn {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin-bottom: 80px;

    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: +1.5px;
    text-transform: uppercase;
    color: #DEDEDE;

    background-color: transparent;
    border: none;
    opacity: 0.7;
}

.works__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
 }

.work {
    height: 888px;
    position: relative;
}

.work:nth-child(even) {
    position: relative;
    top: 140px;
}

.work:hover {
    opacity: 1;
}

.work__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.work__name {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 40px;

    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s;
}

.work:hover .work__name {
    opacity: 1;
}

/*------------
    ???
------------*/